.services-main {
    border: var(--borderWidth-thin) solid #484f58;
    border-radius: 50px;
    padding: 30px;
    background: #151b23;
    
    .titles-services {
        font-size: 28px;
        color: white;
    }
}
