.title-4 {
    padding: 15px;
}

.card-7 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;

    .card-7-t-i {
        background: #252738;
        fill: white;
        padding: 15px;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
}