.title-3 {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.section-2-img {
    width: 120px;

    img {
        width: 100%;
        object-fit: cover;
    }
}