// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

/* --------------------------------- */
/* ------------- Fonts ------------- */
/* --------------------------------- */

@font-face {
  font-family: 'MonaSans';
  src: url('/fonts/MonaSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------- */
/* ------------- Main -------------- */
/* --------------------------------- */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mona Sans', 'MonaSansFallback', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
  font-family: 'Mona Sans', 'MonaSansFallback', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  margin: 0;
  padding: 0;
  --accent-color: #ec8028;
  --accent-color-2: ;
  --accent-color-3: ;
  --g-background: ;
  --g-nav-background: ;
  --color-heading: ;
  --color-text: #131313;
  --color-text-accent: #737373;
  --color-border: #ec802880;
  --bg-btn-social: #cfcfcf40;
  --g-nav-offset: 60px;
  --hero-height: calc(100vh - var(--global-nav-offset));
  --section-padding: 70px 0;
}

/* --------------------------------- */
/* ------------- Font -------------- */
/* --------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mona Sans', 'MonaSansFallback', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--color-heading);
  margin: 0 0 10px 0;
  line-height: 100%;
}

p,
span {
  font-family: 'Mona Sans', 'MonaSansFallback', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--color-text);
  /* margin: 0 0 10px 0; */
  line-height: 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 17px;
}

p {
  font-size: 19px;
}

span {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: black;
}

/* --------------------------------- */
/* ---------- Containers ----------- */
/* --------------------------------- */

.container-full {
}

.container-inside {
  max-width: 1170px;
  margin: 0 auto;
  padding: 70px 0;
}

/* .site-header {
    margin-bottom: -100px;
} */

/* --------------------------------- */
/* ------------- Grid -------------- */
/* --------------------------------- */

.rzn-grid {
  display: grid;
}

.gap-0 {
  gap: 0;
}

.gap-5 {
  gap: 0;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.rzn-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.rzn-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.rzn-col-3-3 {
  grid-template-columns: repeat(3, 1fr);
}

.rzn-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.rzn-col-2-2 {
  grid-template-columns: repeat(2, 1fr);
}

.rzn-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* --------------------------------- */
/* ------------- Flex -------------- */
/* --------------------------------- */

.rzn-flex {
  display: flex;
}

/* --------------------------------- */
/* ---------- Positions ------------ */
/* --------------------------------- */

.h-center {
  justify-items: center;
}

.v-center {
  align-items: center;
}

.jc-s {
  justify-content: start;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.ai-e {
  align-items: end;
}

.ai-s {
  align-items: start;
}

.fd-c {
  flex-direction: column;
}

/* --------------------------------- */
/* ---------- Distances ------------ */
/* --------------------------------- */

.row-wrapper {
  padding: 50px 0;
}

.col-wrapper {
  padding: 50px;
}

.m-b-0 {
  margin-bottom: 0;
}

.w-100 {
  width: 100%;
}

/* --------------------------------- */
/* ---------- Sections ------------- */
/* --------------------------------- */

.sections-g {
  padding: var(--section-padding);
}

.sections-accent {
}

/* --------------------------------- */
/* ----------- Titles -------------- */
/* --------------------------------- */

.titles-main {
}

.title-hero {
}

.titles-sections {
}

.title-services {
}

.titles-accent {
}

.titles-wrapper {
}

.titles-hint {
}

/* --------------------------------- */
/* ------------- Text -------------- */
/* --------------------------------- */

.light-text {
  color: white;
}

.dark-text {
  color: black;
}

.center-text {
  text-align: center;
}

/* --------------------------------- */
/* ------------ Buttons ------------ */
/* --------------------------------- */

button {
}

.main-button {
}

.main-button:hover {
}

.custom-btns {
}

.custom-btns:hover {
}

.cta-btn {
}

.cta-btn:hover {
}

/* --------------------------------- */
/* ---------- Media Query ---------- */
/* --------------------------------- */

@media (max-width: 900px) {
  .rzn-col-5 {
    grid-template-columns: repeat(3, 1fr);
  }

  .rzn-col-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .rzn-col-5 {
    grid-template-columns: repeat(2, 1fr);
  }

  .rzn-col-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .rzn-col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
  .rzn-col-5 {
    grid-template-columns: repeat(1, 1fr);
  }

  .rzn-col-4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .rzn-col-3-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .rzn-col-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .rzn-col-2-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .rzn-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Only Mobile */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 19px;
  }

  h6 {
    font-size: 17px;
  }

  .container-inside {
    padding: 50px 15px;
  }

  .g-sections {
    padding: 70px 0;
  }
}

/* End Mobile */

/* Only Desktop */
@media only screen and (min-width: 768px) {
}

/* End Desktop */
