//// Title 1 ////

.title-1{
    padding: 50px 0;
    align-items: center;
}


//// End Title 1 ////


//// Title 2 ////
.title-2{
    padding: 50px 0;
    align-items: center;
}

.t-2-wrapp{
    justify-items: end;
}

//// End Title 2 ////


//// Title 3 ////
.title-3{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}



//// End Title 3 ////

